<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hakkımızda</title>

</head>

<body>
    <div class="about-container">
        <h1>Hakkımızda</h1>
        <p>
            Makine Bakım ve Arıza Takip Sistemi, fabrikanızdaki makinelerin düzenli
            bakımını planlamak ve arıza takibini kolaylaştırmak amacıyla
            geliştirilmiş bir yazılım çözümüdür.
        </p>
        <p>
            Bu sistem sayesinde bakım süreçlerini dijitalleştirebilir, analiz ve
            raporlamalarla verimliliği artırabilirsiniz.
        </p>
        <p>
            Proje, Angular, Java Spring Boot ve MSSQL teknolojileriyle
            geliştirilmiştir.
        </p>
    </div>
</body>

</html>